@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;

   overflow-x: hidden;
}

body {
   /* background-color: rgb(231, 231, 231); */ 
  background-color: #0A3A40;
  color: white;
}

header#cabeçario-principal {
    background-color: #042326;
    color: white;

    width: 250px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

header#cabeçario-principal > img {
    margin: 15px;
    cursor: pointer;
}

header#cabeçario-principal > h1 {
    font-family: 'Kolker Brush', cursive;
    font-size: 3em;

    position: absolute;
    top: 5px;
}

/*Estilização do cabeçãrio finalizada*/

main#corpo-principal {
    position: absolute;
    top: 0;
    left: 33%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 800px;

    height: 100vh;
}

main#corpo-principal > h1,h2,p {
    margin: 15px;

    font-family: 'Kanit', sans-serif;
}

#corpo-principal > h1 > strong {
    font-family: 'Kolker Brush', cursive;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;

    cursor: pointer;
}

/*Projetos*/

#projetos {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 15%;
    top: 0;

    display: flex;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#projetos > h1 {
    position: absolute;
    left: 43%;
    margin-top: 15px;
}

#projeto-android {
    width: 250px;
    height: 250px;

    position: absolute;
    left: 10%;
    top: 100px;
}

#projeto-cordel {
    width: 250px;
    height: 250px;

    position: absolute;
    left: 40%;
    top: 100px;
}

  /*redes sociais*/

#redes-sociais {
    position: absolute;
    top: 0;

    left: 16%;

    width: 85vw;
    height: 100vh;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: none;
}

#redes-sociais > h1 > a >img {
    width: 50px;
}

#redes-sociais > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

/*Estilização do corpo da pagina principal finalizada*/

@media screen and (max-width: 1048px) {
  
  header#cabeçario-principal{
    height: 60vh;
    width: 100vw;
  }

  /*header acima*/

  main#corpo-principal {
    position: relative;
    left: 15%;
    
    width: 100vw;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /*main acima*/
  
  #projetos {
    left: 0%;
    top: 40%;

    width: 100vw;

    overflow: hidden;
    
  }

  #projetos > h1 {
    left: 45%;
  }

  #projeto-android {
    left: 5%;
  }

  #projeto-cordel {
    left: 40%;
  }

  /*projetos acima*/

  #redes-sociais {
    position: absolute;
    top: 40%;

    left: 0%;

    width: 100vw;
    height: 100vh;
}

}

@media screen and (max-width: 900px) {
  
  header#cabeçario-principal{
    height: 60vh;
    width: 100vw;
  }

  /*header acima*/

  main#corpo-principal {
    position: relative;
    top: 0px;
    left: 5%;
  }

  /*main acima*/

}

@media screen and (max-width: 807px) {
  
  header#cabeçario-principal{
    height: 60vh;
    width: 100vw;
  }

  /*header acima*/

  main#corpo-principal {
    position: relative;
    top: 0px;
    left: 0%;
  }

  /*main acima*/

  #projeto-android {
    left: 2%;
  }

  /*proejtos acima*/

}

@media screen and (max-width: 703px) {
  
  header#cabeçario-principal{
    height: 60vh;
    width: 100vw;
  }

  /*header acima*/

  main#corpo-principal {
    position: relative;
    top: 0px;
    left: 0%;

    height: 110vw;
  }

  /*main acima*/

  #projeto-cordel {
    left: 50%;
  }

  /*projetos acima*/

}

@media screen and (max-width: 612px) {

  header#cabeçario-principal{
    height: 60vh;
    width: 100vw;
  }

  /*header acima*/
  
  main#corpo-principal {
    position: relative;
    top: 0px;
    left: 0%;

    height: 150vw;
  }

  /*main acima*/

  #projeto-cordel {
    left: 52%;
  }

  #projetos > h1 {
    left: 40%;
  }

  /*projetos acima*/
}

@media screen and (max-width: 520px) {
  header#cabeçario-principal{
    height: 35vh;
    width: 100vw;
  }

  header > h1 {
    display: none;
  }

  /*header acima*/
  
  main#corpo-principal {
    font-size: 9pt;
  }

  main#corpo-principal {
    position: relative;
    top: 0px;
    left: 0%;

    height: 130vw;
  }

  /*main acima*/

  #projetos {
    left: 0%;
    top: 40%;

    width: 100vw;
    height: 110vh;

    overflow: hidden;
    
  }

  #projetos > h1 {
    left: 38%;
  }

  #projeto-android {
    left: 25%;
  }

  #projeto-cordel {
    left: 25%;
    top: 60%;
  }

  /*projetos acima*/

  #redes-sociais {
    position: absolute;
    top: 15%;

    left: 0%;

    width: 100vw;
    height: 100vh;
}
}

@media screen and (max-width: 444px) {
  header#cabeçario-principal{
    height: 35vh;
    width: 100vw;
  }

  header > h1 {
    display: none;
  }

  /*header acima*/
  
  main#corpo-principal {
    font-size: 9pt;
  }

  main#corpo-principal {
    position: relative;
    top: 0px;
    left: 0%;

    height: 165vw;
  }

  /*main acima*/

  #projetos > h1 {
    left: 37%;
    font-size: 15pt;
  }

  #projeto-android {
    left: 28%;
    
    width: 180px;
    height: 180px;
  }

  #projeto-cordel {
    left: 28%;
    top: 60%;

    width: 180px;
    height: 180px;
  }

  /*projetos acima*/

  
  
}

@media screen and (max-width: 387px) {
  header#cabeçario-principal{
    height: 70vh;
    width: 100vw;
  }

  header > h1 {
    display: none;
  }

  /*header acima*/
  
  main#corpo-principal {
    font-size: 9pt;
  }

  header#cabeçario-principal{
    height: 40vh;
    width: 100vw;
  }

  main#corpo-principal {
    position: relative;
    top: 0px;
    left: 0%;

    height: 200vw;
  }

  /*main acima*/
}

@media screen and (max-width: 352px) {
  main#corpo-principal {
    font-size: 9pt;
  }

  main#corpo-principal {
    position: relative;
    top: 0px;
    left: 0%;

    height: 260vw;
  }

  /*main acima*/

  #projetos > h1 {
    left: 37%;
    font-size: 15pt;
  }

  #projeto-android {
    left: 25%;
    
    width: 180px;
    height: 180px;
  }

  #projeto-cordel {
    left: 25%;
    top: 60%;

    width: 180px;
    height: 180px;
  }

  /*projetos acima*/
}